apiVersion: v1
kind: Service
metadata:
  name: cozinha-service
  labels:
    app: cozinha
spec:
  type: LoadBalancer
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: cozinha
